{% extends 'base.html' %}
{% block content %}
{% load static %}
    <img src="{% static 'smart-invaders.png' %}" alt="not found" style="margin: 20px; width: 150px; border-radius: 12px; box-shadow: 0 0 8px rgba(255, 255, 255, 1);">
    <a href="{% static 'Smart Space Invaders.zip' %}" download class="down-game">download</a>
    <h3>Leader Board</h3>
    <table class="board">
        
        <tr class="item">
            <th>name</th>
            <th><a href="{% url 'orders' '-win' %}">wins</a></th>
            <th><a href="{% url 'orders' '-loss' %}">losses</a></th>
            <th><a href="{% url 'orders' '-total_score' %}">score</a></th>
        </tr>
    {% for i in data %}

        <tr class="item">
                <td>{{ i.username }}</td>
                <td>{{ i.win }}</td>
                <td>{{ i.loss }}</td>
                <td>{{ i.total_score }}</td>
        </tr>

    {% endfor %}
    </table>

{% endblock %}