:root{
    --shadows:rgb(242, 250, 245);
}

@font-face {
    font-family: 'spaceF';
    src: url("./Space-Invaders.woff") format("woff");
  }
*{
    font-family: 'spaceF';
    box-sizing: border-box;
}


body{
    background-image: url('./background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(9, 128, 255);
    box-shadow: 0 0 10px var(--shadows);
}

.nav-bar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 20px;
}
.nav-bar a:hover{
    background-color: rgb(0, 110, 228);
    text-shadow: 0 0 10px var(--shadows);
    padding-bottom: 17px;
    border-bottom: 3px solid black;
}

.down-game{
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: rgb(9, 128, 255);
    box-shadow: 0 0 10px var(--shadows);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.down-game:hover{
    box-shadow: 0 0 15px var(--shadows);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

.container *:not(input){
    color: rgb(212, 212, 212);
}

.container a{
    color: rgb(0, 255, 98);
}

.form-info{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px;
    min-width: 50%;
    gap: 5px;
}

form input{
    color: black;
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 6px;
}

form input:focus{
    box-shadow: 0 0 10px var(--shadows);
}

.submit-form{
    border-radius: 6px;
    border: none;
    width: fit-content;
    padding: 8px;
    margin: auto;
    cursor: pointer;
    margin-top: 5px;
    background-color: rgb(9, 128, 255);
}

.submit-form:hover{
    box-shadow: 0 0 10px var(--shadows);
}

table{
    border-radius: 8px;
    box-shadow: 0 0 10px var(--shadows);
    text-align: center;
    overflow-x: scroll;
    background-color: rgb(9, 128, 255);
    width: 100%;
}

table, th, td {
    border-bottom: 2px solid;
    padding: 15px;
    border-spacing: 0;
  }

.userinfo span{
    color: var(--shadows);
}

@media (max-width: 500px) {
    *{
        font-size: 12px;
    }
    .nav-bar a, .nav-bar{
        font-size: 20px;
    }

}

.errorlist *{
    color: red;
}

footer{
    background-color: rgb(9, 128, 255);
    padding: 5px;   
    margin-top: auto; 
}
